[submodule "users"]
	path = users
	url = https://github.com/Big-Projects-Microservices/users
[submodule "graphql"]
	path = graphql
	url = https://github.com/Big-Projects-Microservices/graphql
[submodule "products"]
	path = products
	url = https://github.com/Big-Projects-Microservices/products
[submodule "orders"]
	path = orders
	url = https://github.com/Big-Projects-Microservices/orders
